Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from warnings import filterwarnings

Data Collection and Processing

In [2]:
df = pd.read_csv("C:\\Users\\Manan\\Multiple Disease Prediction System\\dataset\\heart.csv")

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
df.shape

(303, 14)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [7]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
df['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

1 --> Defective Heart

0 --> Healthy Heart

Splitting the Features and Target

In [10]:
X = df.drop(columns='target', axis=1)
Y = df['target']

In [11]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [12]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Splitting the Data into Training data & Test Data

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [14]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Model Training

Logistic Regression

In [15]:
model = LogisticRegression()

In [16]:
model.fit(X_train, Y_train)

C:\Users\Manan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [17]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [18]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8512396694214877

In [19]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [20]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.819672131147541

Building a Predictive System

In [21]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

input_data_as_numpy_array= np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]<= 0.5):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease

C:\Users\Manan\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

# LSTM

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
from tensorflow.keras import layers

In [23]:
X = df.drop('target', axis=1)
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(32, activation='relu'),
    layers.Dense(1, activation='sigmoid')])

In [26]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
7/7 [==============================] - 1s 46ms/step - loss: 0.7367 - accuracy: 0.4560 - val_loss: 0.7275 - val_accuracy: 0.4898
Epoch 2/50
7/7 [==============================] - 0s 11ms/step - loss: 0.6602 - accuracy: 0.5699 - val_loss: 0.6685 - val_accuracy: 0.6327
Epoch 3/50
7/7 [==============================] - 0s 10ms/step - loss: 0.6095 - accuracy: 0.6995 - val_loss: 0.6223 - val_accuracy: 0.6531
Epoch 4/50
7/7 [==============================] - 0s 8ms/step - loss: 0.5643 - accuracy: 0.7461 - val_loss: 0.5805 - val_accuracy: 0.7347
Epoch 5/50
7/7 [==============================] - 0s 9ms/step - loss: 0.5256 - accuracy: 0.8394 - val_loss: 0.5410 - val_accuracy: 0.7347
Epoch 6/50
7/7 [==============================] - 0s 8ms/step - loss: 0.4909 - accuracy: 0.8238 - val_loss: 0.5084 - val_accuracy: 0.7347
Epoch 7/50
7/7 [==============================] - 0s 8ms/step - loss: 0.4598 - accuracy: 0.8394 - val_loss: 0.4786 - val_accuracy: 0.7347
Epoch 8/50
7/7 [==============================] - 0s 9ms/step - loss: 0.4323 - accuracy: 0.8601 - val_loss: 0.4500 - val_accuracy: 0.7347
Epoch 9/50
7/7 [==============================] - 0s 9ms/step - loss: 0.4109 - accuracy: 0.8549 - val_loss: 0.4354 - val_accuracy: 0.7143
Epoch 10/50
7/7 [==============================] - 0s 9ms/step - loss: 0.3912 - accuracy: 0.8549 - val_loss: 0.4202 - val_accuracy: 0.7347
Epoch 11/50
7/7 [==============================] - 0s 8ms/step - loss: 0.3732 - accuracy: 0.8601 - val_loss: 0.4106 - val_accuracy: 0.7347
Epoch 12/50
7/7 [==============================] - 0s 8ms/step - loss: 0.3598 - accuracy: 0.8549 - val_loss: 0.4017 - val_accuracy: 0.7347
Epoch 13/50
7/7 [==============================] - 0s 9ms/step - loss: 0.3476 - accuracy: 0.8601 - val_loss: 0.3975 - val_accuracy: 0.7347
Epoch 14/50
7/7 [==============================] - 0s 8ms/step - loss: 0.3373 - accuracy: 0.8653 - val_loss: 0.3958 - val_accuracy: 0.7347
Epoch 15/50
7/7 [==============================] - 0s 10ms/step - loss: 0.3283 - accuracy: 0.8705 - val_loss: 0.3954 - val_accuracy: 0.7143
Epoch 16/50
7/7 [==============================] - 0s 8ms/step - loss: 0.3211 - accuracy: 0.8756 - val_loss: 0.3973 - val_accuracy: 0.7347
Epoch 17/50
7/7 [==============================] - 0s 9ms/step - loss: 0.3156 - accuracy: 0.8808 - val_loss: 0.4026 - val_accuracy: 0.7347
Epoch 18/50
7/7 [==============================] - 0s 9ms/step - loss: 0.3108 - accuracy: 0.8808 - val_loss: 0.4003 - val_accuracy: 0.7347
Epoch 19/50
7/7 [==============================] - 0s 10ms/step - loss: 0.3040 - accuracy: 0.8860 - val_loss: 0.3838 - val_accuracy: 0.7551
Epoch 20/50
7/7 [==============================] - 0s 9ms/step - loss: 0.3000 - accuracy: 0.8808 - val_loss: 0.3796 - val_accuracy: 0.7551
Epoch 21/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2958 - accuracy: 0.8808 - val_loss: 0.3865 - val_accuracy: 0.7347
Epoch 22/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2921 - accuracy: 0.8808 - val_loss: 0.3900 - val_accuracy: 0.7347
Epoch 23/50
7/7 [==============================] - 0s 9ms/step - loss: 0.2876 - accuracy: 0.8860 - val_loss: 0.3898 - val_accuracy: 0.7347
Epoch 24/50
7/7 [==============================] - 0s 9ms/step - loss: 0.2826 - accuracy: 0.8808 - val_loss: 0.3925 - val_accuracy: 0.7347
Epoch 25/50
7/7 [==============================] - 0s 9ms/step - loss: 0.2777 - accuracy: 0.8860 - val_loss: 0.3969 - val_accuracy: 0.7551
Epoch 26/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2733 - accuracy: 0.8860 - val_loss: 0.3981 - val_accuracy: 0.7551
Epoch 27/50
7/7 [==============================] - 0s 8ms/step - loss: 0.2691 - accuracy: 0.8912 - val_loss: 0.3998 - val_accuracy: 0.7551
Epoch 28/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2655 - accuracy: 0.8912 - val_loss: 0.3986 - val_accuracy: 0.7551
Epoch 29/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2613 - accuracy: 0.8964 - val_loss: 0.3946 - val_accuracy: 0.7551
Epoch 30/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2574 - accuracy: 0.9016 - val_loss: 0.3910 - val_accuracy: 0.7551
Epoch 31/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2540 - accuracy: 0.9016 - val_loss: 0.3970 - val_accuracy: 0.7551
Epoch 32/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2507 - accuracy: 0.9016 - val_loss: 0.3982 - val_accuracy: 0.7551
Epoch 33/50
7/7 [==============================] - 0s 12ms/step - loss: 0.2495 - accuracy: 0.8912 - val_loss: 0.3890 - val_accuracy: 0.7551
Epoch 34/50
7/7 [==============================] - 0s 11ms/step - loss: 0.2486 - accuracy: 0.8912 - val_loss: 0.3900 - val_accuracy: 0.7347
Epoch 35/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2460 - accuracy: 0.9067 - val_loss: 0.4015 - val_accuracy: 0.7551
Epoch 36/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2424 - accuracy: 0.9119 - val_loss: 0.4089 - val_accuracy: 0.7551
Epoch 37/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2390 - accuracy: 0.9119 - val_loss: 0.4121 - val_accuracy: 0.7551
Epoch 38/50
7/7 [==============================] - 0s 9ms/step - loss: 0.2357 - accuracy: 0.9067 - val_loss: 0.4111 - val_accuracy: 0.7755
Epoch 39/50
7/7 [==============================] - 0s 9ms/step - loss: 0.2319 - accuracy: 0.9119 - val_loss: 0.3980 - val_accuracy: 0.7551
Epoch 40/50
7/7 [==============================] - 0s 8ms/step - loss: 0.2292 - accuracy: 0.9119 - val_loss: 0.3921 - val_accuracy: 0.7755
Epoch 41/50
7/7 [==============================] - 0s 9ms/step - loss: 0.2264 - accuracy: 0.9223 - val_loss: 0.3966 - val_accuracy: 0.7755
Epoch 42/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2239 - accuracy: 0.9223 - val_loss: 0.4008 - val_accuracy: 0.7755
Epoch 43/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2213 - accuracy: 0.9171 - val_loss: 0.4055 - val_accuracy: 0.7755
Epoch 44/50
7/7 [==============================] - 0s 11ms/step - loss: 0.2181 - accuracy: 0.9171 - val_loss: 0.4070 - val_accuracy: 0.7755
Epoch 45/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2148 - accuracy: 0.9171 - val_loss: 0.4081 - val_accuracy: 0.7755
Epoch 46/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2135 - accuracy: 0.9223 - val_loss: 0.4137 - val_accuracy: 0.7755
Epoch 47/50
7/7 [==============================] - 0s 10ms/step - loss: 0.2118 - accuracy: 0.9223 - val_loss: 0.4119 - val_accuracy: 0.7755
Epoch 48/50
7/7 [==============================] - 0s 9ms/step - loss: 0.2086 - accuracy: 0.9378 - val_loss: 0.4070 - val_accuracy: 0.7755
Epoch 49/50
7/7 [==============================] - 0s 8ms/step - loss: 0.2048 - accuracy: 0.9378 - val_loss: 0.4042 - val_accuracy: 0.7755
Epoch 50/50
7/7 [==============================] - 0s 8ms/step - loss: 0.2017 - accuracy: 0.9326 - val_loss: 0.4040 - val_accuracy: 0.7755

In [27]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print(f'Test Accuracy: {test_accuracy * 100:.2f}%')

2/2 [==============================] - 0s 5ms/step - loss: 0.4306 - accuracy: 0.8689
Test Accuracy: 86.89%

In [28]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

input_data_as_numpy_array= np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]<= 0.5):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

1/1 [==============================] - 0s 96ms/step
[[1.]]
The Person has Heart Disease

## Saving best model

In [29]:
model.save('heartModel.h5')